.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    z-index: 100;
    padding: 90px 0 0;
    box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
    z-index: 99;
}

@media (max-width: 767.98px) {
    .sidebar {
        top: 11.5rem;
        padding: 0;
    }
}
    
.navbar {
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, .1);
}

@media (min-width: 767.98px) {
    .navbar {
        top: 0;
        position: sticky;
        z-index: 999;
    }
}

.sidebar .nav-link {
    color: #333;
}

.sidebar .nav-link.active {
    color: #0d6efd;
}

.custom-button {
    width: 9em;
    height: 3em;
    border-radius: 30em;
    font-size: 15px;
    font-family: inherit;
    border: none;
    position: relative;
    cursor: pointer;
    overflow: hidden;
    z-index: 1;
    box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
.custom-button::before {
    content: '';
    width: 0;
    height: 3em;
    border-radius: 30rem;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(to right,#6e5bff 0%, #129df4 100%);
    transition: .5s ease;
    display: block;
    z-index: -1;

  }
  
  /* Estilos para cores personalizadas */
.custom-button::before {
    width:9em;
  }
.custom-button::before {
    /* Estilos do gradiente */
    width: 0;
    /* Outros estilos */
  }
  
.custom-button:hover::before {
    width: 100%;
    /* Estilos da transição */
